#float-whatsapp{
    position: fixed;
    bottom: 30px;
    left: 30px;
    z-index: 100;
    text-align: right;
    @include respond-below(md){
        bottom: 45px
    }
    #float-whatsapp-text{
        margin-right: 5px;
        @include respond-below(md){
            display:none;
        }
    }
    #float-whatsapp-img{
        width: 40px;
        height: 40px;
    }
}