/*!
Theme Name: Flatsome Child
Description: This is a child theme for Flatsome Theme
Author: UX Themes
Template: flatsome
Version: 3.0
*/

/**abstracts**/
@import
  'abstracts/variables',
  'abstracts/mixins';

// /**components**/
@import
  'components/chat';

/*************** CUSTOM CSS THEME.   ***************/
.woocommerce-shipping-destination {
    display: none;
}

.absolute-footer {
    display: none;
}

@font-face {
    font-family: "Raleway Semibold";
    src: url("/wp-content/themes/flatsome-child/fonts/raleway-semibold-webfont.woff") format("woff"),
        url("/wp-content/themes/flatsome-child/fonts/raleway-semibold-webfont.woff2") format("woff2");
}

strong {
    font-family: "Raleway Semibold";
    font-weight: 200;
}

.zindex {
    z-index: 2;
}

.btnegro {
    color: #000 !important;
    font-weight: 200 !important;
}

.wpcf7-submit {
    background-color: #FFF !important;
    border-color: #ddd !important;
}

.button,
input[type='submit'],
input[type='submit'].button,
input[type='reset'].button,
input[type='button'].button {
    color: #444;
    background-color: #446084;
    background-color: var(--primary-color);
    border-color: rgba(0, 0, 0, 0.05);
}

@media only screen and (max-width: 800px) {
    .txtmob {
        font-size: 60% !important;
    }
}

/*.cart-item.has-icon{
	display:none!important;
	}*/
.cart-img-icon {
    max-width: 20px !important;
}

.product-small {
    font-family: Raleway;
    font-size: 19px
        /*text-transform:uppercase!important;
}*/
}

/* .woocommerce-breadcrumb {
	display:none!important;
}

.woocommerce-result-count{
	display:none!important;
}

.shop-page-title .is-xlarge{
	display:none;
}
.category {
	display:none!important;
}
 */


.stripe-icon {
    width: 25px;
}

.text-shadow-2 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.sku_wrapper {
    display: none !important
}

.zoom-button {
    display: none !important;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width: 100%;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    font-family: Raleway;
    border-radius: 5px;
    font-size: 0.8em !important;
    text-transform: capitalize
}

.ui-widget {
    font-family: Raleway;
}

.ui-widget-content {
    border: 2px solid #82b480;
    background: #ffffff url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
    color: #222222;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    border: 1px solid #82b480;
    background: #82b480;
    font-weight: bold;
    color: #fff;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    border: 1px solid #82b480;
    background: #82b480;
    font-weight: normal;
    color: #fff;
}

.ui-widget-header {
    border: 0px solid #aaaaaa;
    background: #82b480;
    color: #222222;
    font-weight: bold;
}

.wccf_label {
    font-weight: Bold;
}

.wccf_field_container small {
    display: block;
    line-height: 2em;
    font-weight: bold;
}

.slider-wrapper{
    .flickity-prev-next-button{
        display: inline-block !important;
    }
}